################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalExamScheduling/FinalExamScheduling/bin/Debug
